<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Parece que uma troca de senha para sua conta foi solicitada.</p>
  <p>Se foi você, clique no alink abaixo para escolher uma nova senha para sua conta:</p>
  <p>
    <a href="{{link}}">Escolher uma nova senha</a>
  </p>
  <p>
    Se não foi você, ignore essa mensagem!
  </p>
  <p>Abraços!
    <br/>
    <strong>Equipe GoBarber</strong></p>
</div>
